url = http://10.1.3.33:7001/Liems/
api_url = http://10.35.1.21/interface-platform-web/invoke/bloc_getElecPq.do
username = JNDLLLSD
password = 1234
path = C:\Program Files (x86)\Google\Chrome\Application\chromedriver.exe
from_addr = kali_email@163.com
email_password = kali248655
to_addr = 137377097@qq.com
smtp_server = smtp.163.com